*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    width: 1280px;
    margin: 0 auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main .content-lienhe{
    display: block;
    margin: 0 auto;
 
   
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    clear: both;
    display: block;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-hafl{
    width: 50%;
}
.col-full{
    width: 100%;
}

.contact-info{
    font-size: 18px;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn{
    background-color: tomato;
    font-weight: bold;
    border: 1px solid #000;
    padding: 4px 8px;
    float: right;
}

.contact-form .form-submit-btn:hover{
    background-color: #000;
    color: white;
    cursor: pointer;
}